# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Build
dist/
build/

# Environment
.env
.env.local

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Coverage
coverage/

# OS files
*.swp
*.swo
.idea/
*.tgz
